@media(max-width: 768px)
  .design-main__grid
    --items: 6
  .design-main__item
    &:nth-child(n+17)
      display: none

@media(max-width: 576px)
  .design-main__grid
    --items: 4
  .design-main__item
    &:nth-child(n+11)
      display: none
  .design-slider__main
    height: 340px
  .design-slider__thumbnails
    height: 80px
    width: 175px

  .design-slider__thumbnails .splide__arrow--prev
    left: -77px
  .design-slider__thumbnails .splide__arrow--next
    right: -77px
