<footer class="footer">
  <div class="footer-top">
    <a href="/" class="footer-logo"><img src="img/svg/logo-white.svg" alt=""></a>
    <div class="footer-city">Выпускные альбомы<br> в <span></span> <a href="javascript:;">Екатеринбурге</a></div>
    <div class="footer-city__popup">
      <ul>
        <li><a href="#">Белгород</a></li>
        <li><a href="#">Брянск</a></li>
        <li><a href="#">Волгоград</a></li>
        <li><a href="#">Воронеж</a></li>
        <li class="active"><a href="#">Екатеринбург</a></li>
      </ul>
      <ul>
        <li><a href="#">Казань</a></li>
        <li><a href="#">Нижний Новгород</a></li>
        <li><a href="#">Новосибирск</a></li>
        <li><a href="#">Пермь</a></li>
        <li><a href="#">Псков</a></li>
      </ul>
      <ul>
        <li><a href="#">Ростов на Дону</a></li>
        <li><a href="#">Санкт-Петербург</a></li>
        <li><a href="#">Саратов</a></li>
        <li><a href="#">Ставрополь</a></li>
        <li><a href="#">Уфа</a></li>
      </ul>
      <ul>
        <li><a href="#">Челябинск</a></li>
      </ul>
    </div>
    <ul class="footer-social">
      <li><a href="#"><img src="img/svg/wa.svg" alt=""></a></li>
      <li><a href="#"><img src="img/svg/tg.svg" alt=""></a></li>
      <li><a href="#"><img src="img/svg/vk.svg" alt=""></a></li>
    </ul>
    <a href="tel:8 (495) 769-86-17" class="footer-phone">8 <i>(</i>495<i>)</i> 769-86-17</a>
    <a href="#" class="footer-dev">NewStage – Разработка сайта</a>
  </div>
  <div class="footer-bottom">
    <p>ИП Золотовсков Н.А. ИНН 344408382942 ОГРНИП 319344300086079</p>
    <p><a href="#">Политика конфиденциальности</a></p>
    <p>2023 © Все права защищены</p>
  </div>
</footer>

<div class="popup" id="popup-all-albums">
  <div class="popup-close"></div>
  <div class="popup-wrapper">
    <div class="popup-content">
      <img src="img/popup-albums.jpg" alt="" loading="lazy" class="popup-image">
    </div>
    <div class="popup-form">
      <h2 class="popup-title">Получите презентацию всех альбомов с ценами</h2>
      <h3 class="popup-subtitle">Внутри <span>более 15 вариантов фотокниг с подробным описанием и видеороликами</span> для обсуждения в родительском чате</h3>
      <form action="#" method="post">
        <label>
          <select name="category" class="input">
            <option selected disabled>Выберите класс/группу</option>
            <option value="Детский сад">Детский сад</option>
            <option value="4 классы">4 классы</option>
            <option value="9-11 классы">4 классы</option>
          </select>
        </label>
        <label>
          <span>Введите номер телефона What's App</span>
          <input type="tel" name="phone" class="input masked" placeholder="+7 (___) ___-__-__" required />
        </label>
        <button class="btn btn-rose"><p>Получить презентацию альбомов</p></button>
        <small>Нажимая на кнопку, вы принимаете <a href="#">условия передачи данных</a></small>
      </form>
    </div>
  </div>
</div>

<div class="popup" id="popup-consult">
  <div class="popup-close"></div>
  <div class="popup-wrapper">
    <div class="popup-content">
      <img src="img/popup-consult.jpg" alt="" loading="lazy" class="popup-image">
    </div>
    <div class="popup-form">
      <h2 class="popup-title">Получите персональную консультацию менеджера</h2>
      <h3 class="popup-subtitle">после которой вы будете знать<br> все о наших альбомах</h3>
      <form action="#" method="post">
        <label>
          <span>Введите номер телефона What's App</span>
          <input type="tel" name="phone" class="input masked" placeholder="+7 (___) ___-__-__" required />
        </label>
        <button class="btn btn-rose"><p>Получить консультацию</p></button>
        <small>Нажимая на кнопку, вы принимаете <a href="#">условия передачи данных</a></small>
      </form>
      <div class="blog-call">
        <p>или позвоните нам:</p>
        <a href="tel:8 (495) 769-86-17">8 (495) 769-86-17</a>
        <p>мы на связи с 9:00 до 20:00</p>
      </div>
    </div>
  </div>
</div>

<div class="popup" id="popup-design">
  <div class="popup-close"></div>
  <div class="popup-wrapper">
    <div class="popup-content">
      <img src="img/popup-design.jpg" alt="" loading="lazy" class="popup-image">
    </div>
    <div class="popup-form">
      <h2 class="popup-title">Дизайн обложки с нуля</h2>
      <h3 class="popup-subtitle">Оставьте заявку и менеджер свяжется с вами <span>для уточнения деталей</span></h3>
      <form action="#" method="post">
        <label>
          <span>Введите номер телефона What's App</span>
          <input type="tel" name="phone" class="input masked" placeholder="+7 (___) ___-__-__" required />
        </label>
        <button class="btn btn-rose"><p>Узнать цену и получить расчет</p></button>
        <small>Нажимая на кнопку, вы принимаете <a href="#">условия передачи данных</a></small>
      </form>
    </div>
  </div>
</div>