<footer class="footer">
  <div class="footer-top">
    <a href="/" class="footer-logo"><img src="img/svg/logo-white.svg" alt=""></a>
    <div class="footer-city">Выпускные альбомы<br> в <span></span> <a href="javascript:;">Екатеринбурге</a></div>
    <div class="footer-city__popup">
      <ul>
        <li><a href="#">Белгород</a></li>
        <li><a href="#">Брянск</a></li>
        <li><a href="#">Волгоград</a></li>
        <li><a href="#">Воронеж</a></li>
        <li class="active"><a href="#">Екатеринбург</a></li>
      </ul>
      <ul>
        <li><a href="#">Казань</a></li>
        <li><a href="#">Нижний Новгород</a></li>
        <li><a href="#">Новосибирск</a></li>
        <li><a href="#">Пермь</a></li>
        <li><a href="#">Псков</a></li>
      </ul>
      <ul>
        <li><a href="#">Ростов на Дону</a></li>
        <li><a href="#">Санкт-Петербург</a></li>
        <li><a href="#">Саратов</a></li>
        <li><a href="#">Ставрополь</a></li>
        <li><a href="#">Уфа</a></li>
      </ul>
      <ul>
        <li><a href="#">Челябинск</a></li>
      </ul>
    </div>
    <ul class="footer-social">
      <li><a href="#"><img src="img/svg/wa.svg" alt=""></a></li>
      <li><a href="#"><img src="img/svg/tg.svg" alt=""></a></li>
      <li><a href="#"><img src="img/svg/vk.svg" alt=""></a></li>
    </ul>
    <a href="tel:8 (495) 769-86-17" class="footer-phone">8 <i>(</i>495<i>)</i> 769-86-17</a>
    <a href="#" class="footer-dev">NewStage – Разработка сайта</a>
  </div>
  <div class="footer-bottom">
    <p>ИП Золотовсков Н.А. ИНН 344408382942 ОГРНИП 319344300086079</p>
    <p><a href="#">Политика конфиденциальности</a></p>
    <p>2023 © Все права защищены</p>
  </div>
</footer>