<section class="blog">
  <div class="container">
    <h2 class="title">Блог для родкома</h2>
    <div class="splide blog-slider">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
          <li class="splide__slide">{% include 'components/blog-item.html' %}</li>
        </ul>
      </div>
    </div>
  </div>
</section>