<section class="whatsapp {{ wa_bg }}">
  <div class="container">
    <h2 class="whatsapp-title">Получите презентацию всех альбомов с ценами на Whats <i></i>App<br> <span>+ расчет стоимости на ваш класс</span></h2>
    <h3 class="whatsapp-subtitle">Внутри более 15 вариантов фотокниг с подробным описанием и видеороликами для обсуждения в родительском чате</h3>
    <div class="btn-wrap"><a href="javascript:;" data-fancybox data-src="#popup-all-albums" class="btn btn-{{ wa_btn }}"><p>Узнать цену и получить расчет на класс</p></a></div>
    <img src="img/whatsapp-phone.png" alt="" class="whatsapp-phone">
  </div>
</section>