.design
  padding: var(--gap) 0
  & + .whatsapp
    margin-top: 0
  &-block
    background: #fff
    border-radius: var(--border-radius)
    padding: 50px
    .title-md
      text-align: center
      max-width: 580px
      margin: 0 auto 15px
    .subtitle
      text-align: center
