.promo
  width: calc(100% - (var(--spacing) * 2))
  max-width: 1390px
  height: 590px
  margin: 0 auto
  background: #fff
  color: #fff
  border-radius: var(--border-radius)
  overflow: hidden
  &-md
    height: 480px
    .promo-title
      font-weight: 600
  &-slider, &-item
    height: 100%
  &-item
    position: relative
    overflow: hidden
    padding-top: 70px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    &.blue
      background-image: url(../img/promo-blue.jpg)
      .promo-list li::before
        background-color: var(--color-rose)
    &.rose
      background-image: url(../img/promo-rose.jpg)
      .promo-list li::before
        background-color: var(--color-blue)
    &.purple
      background-image: url(../img/promo-purple.jpg)
      .promo-list li::before
        background-color: #E2B33A
  &-books
    position: absolute
    top: -280px
    right: -390px
    max-width: initial
    z-index: -1
    &.mob
      display: none
  &-template .promo-books
    right: -440px
  &-thanks
    position: absolute
    top: -90px
    right: -120px
    max-width: initial
    z-index: -1
  &-404
    position: absolute
    top: -210px
    right: -340px
    max-width: initial
    z-index: -1
    &-main
      .promo-subtitle__long
        font-weight: 600
        span
          margin-top: 15px
          display: block
          font-weight: 400
    &.mob
      display: none
  &-blog
    position: absolute
    top: -90px
    right: -120px
    max-width: initial
    z-index: -1
  &-title
    max-width: 680px
    font-size: 60px
    line-height: 1
    font-weight: 400
    margin-bottom: 30px
    span
      font-weight: 700
    i
      display: inline-block
      vertical-align: middle
      width: 25px
      height: 25px
      background: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.5002 1.33049H11.8243C11.3382 1.33066 10.872 1.52386 10.5282 1.86764L0.536917 11.8571C-0.178972 12.573 -0.178972 13.7334 0.536917 14.4502L8.2128 22.1261C8.92869 22.842 10.0891 22.842 10.805 22.1261L20.7963 12.1367C21.1401 11.792 21.3335 11.3254 21.3335 10.8387V3.16375C21.3335 2.15088 20.5131 1.33049 19.5002 1.33049ZM16.292 7.74692C15.533 7.74692 14.917 7.13094 14.917 6.37197C14.917 5.613 15.533 4.99702 16.292 4.99702C17.051 4.99702 17.6669 5.613 17.6669 6.37197C17.6669 7.13094 17.051 7.74692 16.292 7.74692Z' fill='white'/%3E%3Cpath d='M23.1667 3.16376L23.1658 11.6967C23.1658 11.9061 23.1246 12.1135 23.0443 12.307C22.9641 12.5005 22.8465 12.6762 22.6983 12.8241L12.5457 22.9768L12.7015 23.1326C13.4174 23.8485 14.5778 23.8485 15.2937 23.1326L24.4619 13.9663C24.6324 13.7962 24.7677 13.5942 24.86 13.3718C24.9523 13.1494 24.9999 12.911 24.9999 12.6702V4.99702C24.9999 3.98414 24.1796 3.16376 23.1667 3.16376Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center
  &-subtitle
    max-width: 420px
    font-size: 18px
    line-height: 1.4
    font-weight: 400
    margin-bottom: 15px
    span
      font-weight: 600
    &__long
      max-width: 500px
  &-text
    line-height: 25px
    opacity: 0.65
    max-width: 410px
  &-list
    max-width: 480px
    line-height: 25px
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
    span
      font-weight: 600
    b
      font-weight: 700
    li
      margin-top: 15px
      position: relative
      padding-left: 35px
      &:first-child
        margin-top: 0
      &::before
        content: ''
        position: absolute
        top: 4px
        left: 0
        width: 20px
        height: 20px
        border-radius: 100%
        background-repeat: no-repeat
        background-position: center
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8058 7.42857L9.312 10.6794L7.83444 9.09791L6.85703 10.0165L9.24409 12.5714L13.7142 8.41612L12.8058 7.42857Z' fill='white'/%3E%3C/svg%3E%0A")
  &-time
    padding: 10px 25px 10px 45px
    border-radius: 10px
    background-color: rgba(255, 255, 255, 0.05)
    backdrop-filter: blur(17.5px)
    margin-top: 15px
    color: rgba(255,255,255,.55)
    font-size: 15px
    line-height: 25px
    max-width: 400px
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_49_1401)'%3E%3Cpath d='M13.2773 10.5256C13.6225 10.5256 13.9023 10.2458 13.9023 9.90063C13.9023 9.55546 13.6225 9.27563 13.2773 9.27563C12.9322 9.27563 12.6523 9.55546 12.6523 9.90063C12.6523 10.2458 12.9322 10.5256 13.2773 10.5256Z' fill='white'/%3E%3Cpath d='M11.9141 12.5388C12.2592 12.5388 12.5391 12.2589 12.5391 11.9138C12.5391 11.5686 12.2592 11.2888 11.9141 11.2888C11.5689 11.2888 11.2891 11.5686 11.2891 11.9138C11.2891 12.2589 11.5689 12.5388 11.9141 12.5388Z' fill='white'/%3E%3Cpath d='M13.748 8.1275C14.0932 8.1275 14.373 7.84768 14.373 7.5025C14.373 7.15732 14.0932 6.8775 13.748 6.8775C13.4029 6.8775 13.123 7.15732 13.123 7.5025C13.123 7.84768 13.4029 8.1275 13.748 8.1275Z' fill='white'/%3E%3Cpath d='M9.89062 13.9044C10.2358 13.9044 10.5156 13.6246 10.5156 13.2794C10.5156 12.9342 10.2358 12.6544 9.89062 12.6544C9.54545 12.6544 9.26562 12.9342 9.26562 13.2794C9.26562 13.6246 9.54545 13.9044 9.89062 13.9044Z' fill='white'/%3E%3Cpath d='M7.49953 13.125C6.59935 13.1261 5.71206 12.9111 4.9122 12.4981C4.11234 12.0852 3.42328 11.4863 2.90289 10.7518C2.38251 10.0172 2.04602 9.16854 1.92167 8.277C1.79733 7.38545 1.88877 6.47708 2.18832 5.6282C2.48787 4.77933 2.98677 4.01474 3.64311 3.39868C4.29945 2.78261 5.09406 2.33307 5.96018 2.08781C6.82631 1.84255 7.73864 1.80874 8.62054 1.98922C9.50244 2.1697 10.3281 2.5592 11.0283 3.125H9.99953C9.83377 3.125 9.6748 3.19085 9.55759 3.30806C9.44038 3.42527 9.37453 3.58424 9.37453 3.75C9.37453 3.91576 9.44038 4.07473 9.55759 4.19194C9.6748 4.30915 9.83377 4.375 9.99953 4.375H12.4995C12.6653 4.375 12.8243 4.30915 12.9415 4.19194C13.0587 4.07473 13.1245 3.91576 13.1245 3.75V1.25C13.1245 1.08424 13.0587 0.925268 12.9415 0.808058C12.8243 0.690848 12.6653 0.625 12.4995 0.625C12.3338 0.625 12.1748 0.690848 12.0576 0.808058C11.9404 0.925268 11.8745 1.08424 11.8745 1.25V2.20687C11.0246 1.50422 10.0181 1.01642 8.93994 0.784687C7.8618 0.552956 6.74373 0.584095 5.68016 0.875476C4.61659 1.16686 3.63876 1.70992 2.82927 2.4588C2.01979 3.20767 1.40241 4.14036 1.0293 5.17809C0.656194 6.21581 0.538306 7.32809 0.685597 8.42097C0.832888 9.51385 1.24103 10.5552 1.87555 11.4572C2.51008 12.3591 3.35234 13.0951 4.3312 13.6029C5.31006 14.1108 6.39677 14.3756 7.49953 14.375C7.66529 14.375 7.82426 14.3092 7.94147 14.1919C8.05868 14.0747 8.12453 13.9158 8.12453 13.75C8.12453 13.5842 8.05868 13.4253 7.94147 13.3081C7.82426 13.1908 7.66529 13.125 7.49953 13.125Z' fill='white'/%3E%3Cpath d='M9.81687 9.81687C9.93404 9.69967 9.99987 9.54073 9.99987 9.375C9.99987 9.20927 9.93404 9.05033 9.81687 8.93313L8.125 7.24125V3.75C8.125 3.58424 8.05915 3.42527 7.94194 3.30806C7.82473 3.19085 7.66576 3.125 7.5 3.125C7.33424 3.125 7.17527 3.19085 7.05806 3.30806C6.94085 3.42527 6.875 3.58424 6.875 3.75V7.5C6.87504 7.66575 6.94091 7.82469 7.05813 7.94187L8.93313 9.81687C9.05033 9.93404 9.20927 9.99987 9.375 9.99987C9.54073 9.99987 9.69967 9.93404 9.81687 9.81687Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_49_1401'%3E%3Crect width='15' height='15' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
    background-repeat: no-repeat
    background-position: top 15px left 20px
  .btn-wrap
    gap: 15px
    margin-top: 30px
  .splide
    &__track, &__slide
      height: 100%
    &__arrow
      background: #fff
      opacity: 1
      width: 55px
      height: 55px
      border-radius: 100%
      box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.10), 3px 4px 5px 0px rgba(0, 0, 0, 0.09), 7px 10px 7px 0px rgba(0, 0, 0, 0.05), 13px 18px 9px 0px rgba(0, 0, 0, 0.01), 20px 27px 9px 0px rgba(0, 0, 0, 0.00)
      &:hover
        opacity: 1
      &--prev
        left: 30px
      &--next
        right: 30px
      svg
        width: 16px
        height: 16px
        fill: var(--color-black)
        path
          width: 100%
          height: 100%
    &__pagination
      bottom: 45px
      left: var(--spacing)
      right: var(--spacing)
      max-width: 1140px
      margin: 0 auto
      padding: 0
      justify-content: flex-start
      gap: 15px
      padding: 0 5px
      &__page
        width: 10px
        height: 10px
        background: #fff
        opacity: 0.45
        margin: 0
        position: relative
        transition: .25s
        &::before
          content: ''
          position: absolute
          border-radius: 100%
          top: 1px
          left: 1px
          right: 1px
          bottom: 1px
          border: 1px solid rgba(255,255,255,.45)
          opacity: 0
          transition: .25s
        &.is-active
          opacity: 1
          transform: none
          &::before
            opacity: 1
            top: -5px
            left: -5px
            right: -5px
            bottom: -5px
