{% extends 'components/_layout.html' %}
{% set site_title = '404' %}

{% block content %}

<section class="promo promo-md">
  <div class="promo-item blue">
    <div class="container">
      <img src="img/promo-blue-books.png" alt="" class="promo-books">
      <h2 class="promo-title"><span>Привет!<br> Это ошибка 404</span></h2>
      <h3 class="promo-subtitle promo-subtitle__long">Сейчас не лучшее время для знакомства...<br><br>Поэтому возвращайся на главную или оставь заявку на консультацию, и менеджер тебе поможет. Пока :)</h3>
      <div class="btn-wrap">
        <a href="/" class="btn btn-rose btn-arrow"><p>Вернуться на главную</p></a>
        <a href="#" class="btn btn-orange"><p>Получить консультацию</p></a>
      </div>
    </div>
  </div>
</section>

{% endblock %}