{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
  <div class="splide promo-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide promo-item rose">
          <div class="container">
            <img src="img/promo-rose-books.png" alt="" class="promo-books">
            <h2 class="promo-title"><span>Выпускные альбомы</span><br> для 9-10 классов<br> от <i></i> 1690₽</h2>
            <h3 class="promo-subtitle">Создадим <span>красивый выпускной альбом с безупречными фотографими и стильным дизайном</span> под ваш бюджет с гарантией сроков по договору</h3>
            <div class="btn-wrap"><a href="#" class="btn btn-blue btn-arrow"><p>Перейти в раздел 9-10 классов</p></a></div>
          </div>
        </li>
        <li class="splide__slide promo-item blue">
          <div class="container">
            <img src="img/promo-blue-books.png" alt="" class="promo-books">
            <h2 class="promo-title"><span>Выпускные альбомы</span><br> для 4-ого класса<br> от <i></i> 1690₽</h2>
            <h3 class="promo-subtitle">Создадим <span>красивый выпускной альбом с безупречными фотографими и стильным дизайном</span> под ваш бюджет с гарантией сроков по договору</h3>
            <div class="btn-wrap"><a href="#" class="btn btn-rose btn-arrow"><p>Перейти в раздел 4 класса</p></a></div>
          </div>
        </li>
        <li class="splide__slide promo-item purple">
          <div class="container">
            <img src="img/promo-purple-books.png" alt="" class="promo-books">
            <h2 class="promo-title"><span>Выпускные альбомы</span><br> для детского сада<br> от <i></i> 1690₽</h2>
            <h3 class="promo-subtitle">Создадим <span>красивый выпускной альбом с безупречными фотографими и стильным дизайном</span> под ваш бюджет с гарантией сроков по договору</h3>
            <div class="btn-wrap"><a href="#" class="btn btn-orange btn-arrow"><p>Перейти в раздел детского сада</p></a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <h2 class="title">Что вы получите,<br> <span>заказывая альбом в CoolStory</span></h2>
    <div class="about-grid">
      <div class="about-item">
        <div class="about-item__col">
          <div class="about-item__text">
            <h3 class="about-item__title">Профессиональные фотографии</h3>
            <p class="about-item__desc">Каждый выпускник будет отлично выглядеть, благодаря опытным фотографам нашей команды и качественной ретуши</p>
          </div>
          <div class="about-photo__grid-1">
            <img src="img/photo-1.jpg" alt="" loading="lazy">
            <img src="img/photo-2.jpg" alt="" loading="lazy">
            <img src="img/photo-3.jpg" alt="" loading="lazy">
            <img src="img/photo-4.jpg" alt="" loading="lazy">
          </div>
        </div>
        <div class="about-item__col">
          <div class="about-photo__grid-2">
            <img src="img/photo-5.jpg" alt="" loading="lazy">
            <img src="img/photo-6.jpg" alt="" loading="lazy">
            <img src="img/photo-7.jpg" alt="" loading="lazy">
            <img src="img/photo-8.jpg" alt="" loading="lazy">
            <img src="img/photo-9.jpg" alt="" loading="lazy">
            <img src="img/photo-10.jpg" alt="" loading="lazy">
          </div>
          <div class="about-photo__grid-3">
            <img src="img/photo-11.jpg" alt="" loading="lazy">
            <img src="img/photo-12.jpg" alt="" loading="lazy">
            <img src="img/photo-13.jpg" alt="" loading="lazy">
          </div>
        </div>
        <div class="about-item__more"><a href="#">Посмотреть больше примеров фото</a></div>
      </div>
      <div class="about-item">
        <div class="about-item__text">
          <h3 class="about-item__title">Красивый<br> дизайн альбома</h3>
          <p class="about-item__desc">Более 30 вариантов современных дизайнов на выбор в каждой возрастной группе</p>
        </div>
        <div class="about-quote">
          <div class="about-quote__text">
            <p>Выпускной альбом, прежде всего, это визуал, поэтому мы уделяем особое внимание...</p>
            <p><i></i> Если не найдете подходящий дизайн, то <b>мы разработаем индивидуальнопо вашему примеру</b> (и это бесплатно)</p>
          </div>
          <div class="about-quote__author">
            <img src="img/quote-author.jpg" alt="" loading="lazy">
            <b>Никита А.А</b>
            <p>руководитель</p>
          </div>
        </div>
        <div class="about-design">
          <div class="about-design__item rose">
            <h3>9-11 классы</h3>
            <div class="about-design__photo">
              <img src="img/design-1.jpg" alt="" loading="lazy">
              <img src="img/design-2.jpg" alt="" loading="lazy">
              <img src="img/design-3.jpg" alt="" loading="lazy">
              <img src="img/design-4.jpg" alt="" loading="lazy">
              <img src="img/design-5.jpg" alt="" loading="lazy">
              <img src="img/design-6.jpg" alt="" loading="lazy">
              <img src="img/design-7.jpg" alt="" loading="lazy">
              <img src="img/design-8.jpg" alt="" loading="lazy">
              <div class="about-design__more">+12</div>
            </div>
          </div>
          <div class="about-design__item blue">
            <h3>4 классы</h3>
            <div class="about-design__photo">
              <img src="img/design-9.jpg" alt="" loading="lazy">
              <img src="img/design-10.jpg" alt="" loading="lazy">
              <img src="img/design-11.jpg" alt="" loading="lazy">
              <img src="img/design-12.jpg" alt="" loading="lazy">
              <img src="img/design-13.jpg" alt="" loading="lazy">
              <img src="img/design-14.jpg" alt="" loading="lazy">
              <img src="img/design-15.jpg" alt="" loading="lazy">
              <img src="img/design-16.jpg" alt="" loading="lazy">
              <div class="about-design__more">+12</div>
            </div>
          </div>
          <div class="about-design__item orange">
            <h3>Детский сад</h3>
            <div class="about-design__photo">
              <img src="img/design-17.jpg" alt="" loading="lazy">
              <img src="img/design-18.jpg" alt="" loading="lazy">
              <img src="img/design-19.jpg" alt="" loading="lazy">
              <img src="img/design-20.jpg" alt="" loading="lazy">
              <img src="img/design-21.jpg" alt="" loading="lazy">
              <img src="img/design-22.jpg" alt="" loading="lazy">
              <img src="img/design-23.jpg" alt="" loading="lazy">
              <img src="img/design-24.jpg" alt="" loading="lazy">
              <div class="about-design__more">+12</div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-item">
        <div class="about-item__text">
          <h3 class="about-item__title">Индивидуальный подбор кадров</h3>
          <p class="about-item__desc">Отберем лучшие фото с вашим ребенком и сделаем персональную верстку альбома.</p>
          <p class="about-item__desc">На каждой групповой фотографии в альбоме будет ваш выпускник.</p>
        </div>
        <img src="img/about-1.jpg" alt="" loading="lazy">
      </div>
      <div class="about-item about-item-md">
        <div class="about-item__text">
          <h3 class="about-item__title">Качественная печать альбомов</h3>
          <p class="about-item__desc">Сотрудничаем с самой лучшей типографией в России. Наши альбомы печатают на европейском оборудовании стоимостью 3 000 000$.</p>
          <p class="about-item__desc">Результат – отстуствие браков, долговечность альбомов и соблюдение сроков сдачи.</p>
        </div>
        <img src="img/about-2.jpg" alt="" loading="lazy">
      </div>
      <div class="about-item about-item-md">
        <div class="about-item__text">
          <h3 class="about-item__title">Спокойствие и уверенность</h3>
          <p class="about-item__desc">Со старта работ мы закрепим за вами персонального менеджера, который будет уведомлять о статусах вашего заказа и консультировать на каждом этапе создания альбомов.</p>
        </div>
        <img src="img/about-3.jpg" alt="" loading="lazy">
      </div>
    </div>
  </div>
</section>

<section class="albums">
  <img src="img/albums-big.png" alt="" loading="lazy" class="albums-big">
  <div class="albums-block">
    <div class="container">
      <h2 class="title-md">Варианты альбомов и стоимость</h2>
      <h3 class="subtitle">Перейдите в актуальный раздел и ознакомьтесь с предложениями</h3>
      <div class="albums-grid">
        <div class="albums-item rose">
          <h3 class="albums-item__title">9-11 классы</h3>
          <a href="#" class="albums-item__link">перейти в раздел</a>
          <img src="img/album-1.png" alt="" loading="lazy">
          <img src="img/album-2.png" alt="" loading="lazy">
        </div>
        <div class="albums-item blue">
          <h3 class="albums-item__title">4 классы</h3>
          <a href="#" class="albums-item__link">перейти в раздел</a>
          <img src="img/album-3.png" alt="" loading="lazy">
          <img src="img/album-4.png" alt="" loading="lazy">
        </div>
        <div class="albums-item orange">
          <h3 class="albums-item__title">детский сад</h3>
          <a href="#" class="albums-item__link">перейти в раздел</a>
          <img src="img/album-5.png" alt="" loading="lazy">
          <img src="img/album-6.png" alt="" loading="lazy">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <h2 class="title">Нам можно доверять</h2>
    <h3 class="subtitle">Мы не «гаражники», а профессиональная команда специалистов. Например, на разработку вашего альбома выделим минимум 5 человек</h3>
    <div class="team-grid">
      <div class="team-item blue">
        <h3 class="team-item__title">личный менеджер</h3>
        <div class="team-item__text">
          <img src="img/svg/team-1.svg" alt="" loading="lazy">
          <p>личный помощник родкома, который контролирует каждый этап создания альбомов</p>
        </div>
        <img src="img/team-1.png" class="team-item__photo" alt="" loading="lazy">
      </div>
      <div class="team-item rose">
        <h3 class="team-item__title">опытный фотограф</h3>
        <div class="team-item__text">
          <img src="img/svg/team-2.svg" alt="" loading="lazy">
          <p>готовит техническое задание, ставит свет, проводит съемку</p>
        </div>
        <img src="img/team-2.png" class="team-item__photo" alt="" loading="lazy">
      </div>
      <div class="team-item orange">
        <h3 class="team-item__title">фото редактор</h3>
        <div class="team-item__text">
          <img src="img/svg/team-3.svg" alt="" loading="lazy">
          <p>отбирает лучшие кадры, обрабатывает фото, проводит тщательную ретушь портретов</p>
        </div>
        <img src="img/team-3.png" class="team-item__photo" alt="" loading="lazy">
      </div>
      <div class="team-item green">
        <img src="img/svg/team-4.svg" class="team-item__icon" alt="" loading="lazy">
        <h3 class="team-item__title">дизайнер</h3>
        <div class="team-item__text">
          <img src="img/svg/team-4.svg" alt="" loading="lazy">
          <p>верстает альбомы (расставляет фото в макете по тех. заданию) и контролирует качество печати</p>
        </div>
        <img src="img/team-4.png" class="team-item__photo" alt="" loading="lazy">
      </div>
      <div class="team-item blue">
        <img src="img/svg/team-5.svg" class="team-item__icon" alt="" loading="lazy">
        <h3 class="team-item__title">логист</h3>
        <div class="team-item__text">
          <img src="img/svg/team-5.svg" alt="" loading="lazy">
          <p>проверяет альбомы на наличие дефектов, упаковывает и бережно доставляет альбомы в удобное место и время</p>
        </div>
        <img src="img/team-5.png" class="team-item__photo" alt="" loading="lazy">
      </div>
    </div>
  </div>
</section>

{% endblock %}