{% extends 'components/_layout.html' %}
{% set site_title = 'Главная' %}

{% block content %}

<section class="promo">
  <div class="splide promo-slider">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide promo-item rose">
          <div class="container">
            <img src="img/promo-rose-books.png" alt="" class="promo-books">
            <h2 class="promo-title"><span>Выпускные альбомы</span><br> для 9-10 классов<br> от <i></i> 1690₽</h2>
            <h3 class="promo-subtitle">Создадим <span>красивый выпускной альбом с безупречными фотографими и стильным дизайном</span> под ваш бюджет с гарантией сроков по договору</h3>
            <div class="btn-wrap"><a href="#" class="btn btn-blue btn-arrow"><p>Перейти в раздел 9-10 классов</p></a></div>
          </div>
        </li>
        <li class="splide__slide promo-item blue">
          <div class="container">
            <img src="img/promo-blue-books.png" alt="" class="promo-books">
            <h2 class="promo-title"><span>Выпускные альбомы</span><br> для 4-ого класса<br> от <i></i> 1690₽</h2>
            <h3 class="promo-subtitle">Создадим <span>красивый выпускной альбом с безупречными фотографими и стильным дизайном</span> под ваш бюджет с гарантией сроков по договору</h3>
            <div class="btn-wrap"><a href="#" class="btn btn-rose btn-arrow"><p>Перейти в раздел 4 класса</p></a></div>
          </div>
        </li>
        <li class="splide__slide promo-item purple">
          <div class="container">
            <img src="img/promo-purple-books.png" alt="" class="promo-books">
            <h2 class="promo-title"><span>Выпускные альбомы</span><br> для детского сада<br> от <i></i> 1690₽</h2>
            <h3 class="promo-subtitle">Создадим <span>красивый выпускной альбом с безупречными фотографими и стильным дизайном</span> под ваш бюджет с гарантией сроков по договору</h3>
            <div class="btn-wrap"><a href="#" class="btn btn-orange btn-arrow"><p>Перейти в раздел детского сада</p></a></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

{% endblock %}